
.logo{
    position: inherit;
    left: 40%;
}
.princ{
    width: 100%;
    position: absolute;
    background-color: rgb(199, 199, 206);
}
.top{
    background-color: darkred;
    position: relative;
    width: 100%;
}
.menu {
    list-style: none; 
    margin: 10px;
    display: inline;
}
li a {
    padding: 5px 10px; 
    margin:0;
    border: 0px solid #f00; 
    background: #903;
    text-decoration: none;
    color:#FFF;
    /* cantos arredondados */
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

.lateral {
    width: 400px;
    height: 89.5%;
    left: 60%;
    top: 104px ;
    background-color: rgb(255, 0, 0);
    position: absolute;
    
}
.tlateral{
    left: 10%;
    position: relative;
    color: white;
    font-weight:bolder ;
}

.texto{
    position: relative;
    width: 600px;
    height: auto;
    top: 5%;
    left: 15%;
    font-size: 18px;
}.tb{
    width: auto;
    height: auto;
    position: relative;
    top: 10%;
    left: 15%;
    text-align: center;
}
button{
    height: 100px;
    position: relative;
    left: 60%;
    top: -100px;
    font-size: 18px;
}